@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #000000;
    height: 150px;
    width: 100%;
    & h1{
        color: white;
        text-align: center;
        font-size: 2.5em;
        padding-top: 30px;
    }

    & p{
        text-align: center;
        margin-top: 10px;
        color: white;
        & a{
            color: white;
        }
    }
}