@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;

    & h1{
        padding-top: 50px;
        font-variant: small-caps;
    }
    & p{
        padding-bottom: 50px;
    }

    & a{
        color: white;
        text-decoration: none;
        font-weight: bolder;
        cursor: pointer;
    }

    & a:hover{
        text-decoration: underline;
    }
}

section{
    padding: 10vh 0;
    line-height: 2em;
    padding-left: 30px;

    & p{
        padding-bottom: 2em;
    }
}

.normal{
    background-color: white;
    color: black;
}

.img{
    background-color: rgba(0, 0, 0, 0.307);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.534);
    & p{
        background-color: rgba(0, 0, 0, 0.51);
        width: 400px;
        text-shadow: 1px 1px 0px black;
    }
}

#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

#img02{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}